<p class="selectlabel" (click)="navigateToNewTodo()">Add New Todo</p>
<table class="rwd-table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let item of getTodos()">
    <td data-th="ID">{{item?.id}}</td>
    <td data-th="Name">{{item?.name}}</td>
    <td data-th="Status">{{item?.status}}</td>
    <td data-th=""><i (click)="editTodo(item)" class="onIcon fa fa-edit"></i></td>
    <td data-th=""><i (click)="removeTodo(item)" class="onIcon fa fa-remove"></i></td>
  </tr>
</table>

